**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.cache
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/dist
**/azure-pipelines.yml
**/sonar-project.properties
**/.husky
**/.sonarqube
**/.sonarsource
**/.github
LICENSE
README.md
